{%extends 'base.html'%}
{%load static%}
{%block style%}
<link rel="stylesheet" href="{%static 'css/contact.css'%}">
{%endblock%}
{%block body%}
      <div class="jumbotron" id="jumbotron">
        <h1 class="display-3">About us...</h1><br>
          <h4 class="text-justify" style="font-size:25px;">सध्याच्या काही दिवसांपासून नागरिक घरांमध्ये बसून आहेत . त्यामुळे सर्व व्यवहार ठप्प असून आर्थिक उलाढाल बंद झाली आहे. नागरिकांचा संयम आता हळूहळू कमी होतोय,रोजगार व्यवसाय बंद असल्याने प्रत्येकाच्या रोजीरोटीचा प्रश्‍न गंभीर झाला आहे. अनेकांवर उपासमारीची वेळ आली व जिवावर उदार होऊन जर बाहेर गेले तर CORONA संसर्ग होण्याची शक्यता आणि घरी बसून राहिले तर अन्न-पाण्यावाचून बळी जाण्याची शक्यता, यामुळे सध्या दोन्हीकडून नागरिकांवर मरण ओढावले आहे.
                           अशा परिस्थितीमध्ये समाज हितासाठी काम करणे हे प्रत्येक सामाजिक संस्थेची नेतीक जबाबदारी आहे. देशावर आलेल्या covid-19 च्या संकटाच्या काळात समाज व मानवतेच्या हितासाठी आमच्या सामाजिक संस्थेकडून            संकल्पना महिला मंडळ व               United Win Foundation
      तर्फे  प्रकल्प आपली दुकान च्या माध्यमातून एक सामाजिक योगदान देत आहोत.
</h4><br><br>
        <div class="row">
            <div class="col-sm-6">
               <p class="text-justify"><br><br><br> देशावर आलेल्या covid-19 च्या संकटाच्या काळात समाज व मानवतेच्या हितासाठी आमच्या सामाजिक संस्थेकडून एक योगदान
               </p>
           </div>
           <div class="col-sm-6">
             <img src="{%static 'images/Untitled1.jpg'%}" style="height:280px; width:450px; border-radius: 20px;">
          </div>
      </div><br><br><br>
          <div class="row">
            <div class="col-sm-6">
              <p class="text-justify">1) सामाजिक अंतर पाळून कायद्याचे पालन करत प्रशासनाला सहकार्य करणे .<br><br>
                                      2) गरजूंना जीवनावश्यक वस्तू घरपोच पुरवणे .<br><br>
                                      3) Contentment  Zone च्या ठिकाणी जीवनावशक्य वस्तू व मेडिकल साहित्यांचा पुरवठा करणे .
              </p>
            </div>
            <div class="col-sm-6">
              <img src="{%static 'images/Untitled.jpg'%}" style="height:280px; width:450px; border-radius: 20px;">
            </div>
          </div>
          <br><br><br>
          <div class="row">
            <div class="col-sm-6">
              <p class="text-justify"><br><br><br>संस्थेच्या स्वयंसेवकांच्या माध्यमातून सुरक्षितरीत्या स्वच्छ आणि उत्तम दर्जाचे  माल सोपवले जाईल.</p>
            </div>
            <div class="col-sm-6">
              <img src="{%static 'images/one.jpg'%}" style="height:280px; width:450px; border-radius: 20px;">
            </div>
          </div><br><br><br>
          <div class="row">
            <div class="col-sm-6">
              <p class="text-justify"><br><br><br>Area  मधील सर्व Contentment Zone मधून  Order स्वीकारले जातील व घरपोच सेवा पुरवली जातील ।</p>
            </div>
            <div class="col-sm-6">
              <img src="{%static 'images/four.jpg'%}" style="height:280px; width:450px; border-radius: 20px;">
            </div>
          </div>
      </div>
{%endblock%}
