{%extends 'base.html'%}
{%load static%}
{%block style%}
{%endblock%}
{%block body%}
<div class="container">
      <header>
        <h2 style="color:white;">Feedback....</h2>
      </header>
    </div><br>
    <div class="container">
      <div class="form-group" style="color:white;font-size:20px;">
        <form  method="post">
          {{form.as_p}}
          {%csrf_token%}
          <input type="submit" class="btn btn-success" value="SUBMIT">
        </form>
      </div>
    </div><br>
    <div class="container" style="color:white;">
      {%if display%}
      {%for d in display%}
      <div>
        <h3>{{d.name}}</h3>
        <h4>{{d.feedback}}</h4>
      </div><hr>
      {%endfor%}
      {%else%}
      <h1>No feedback is available</h1>
      {%endif%}
    </div><br>
{%endblock%}
